@media all and (max-width: 992px) {
    .col_1__h1 {
        margin-top: 30px;
        font-size: 40px;
    }
    .col_1__p1 {
        margin-top: 10px;
        font-size: 20px;
    }

    nav {
        margin-left: 30px;


    }

    @media all and (max-width: 768px) {
        header {
            height: 550px;
        }

        .nav_bar_content {
            margin-top: 50px;
        }
        .slider_wrapp {
            height: 300px;
            margin-top: 40px;
        }
        .col-1 {
            width: 100%;
        }

        .main_wrapp {
            height: 250px;
        }
        .nav > li {
            max-width: inherit;
            text-align: center;
        }
        .nav_bar_conteiner {
            float: none;
        }
        .main_text {
            height: 215px;
        }

        .col_1__h1 {
            margin-top: 30px;
            font-size: 40px;
        }
        .col_1__p1 {
            margin-top: 10px;
            font-size: 20px;
        }
        nav {
            margin-left: 10px;
        }

        .footer_nav_link {
            font-size: 19px;
            margin: 0px 5px 0px;
            padding: 5px 5px 5px;
        }

        .nav_bar_conteiner {
            float: none;
            height: 303px;
            width: 400px;
            margin: auto;
            background-color: rgba(61, 48, 70, 0.9);
            border-radius: 15px;
            overflow: hidden;
            position: absolute;
            z-index: 2;
            right: 50px;
        }
        .navbar-inverse .navbar-nav > .active > a {
            padding-bottom: 14px;
            margin: 0px
        }
        .navbar-inverse .navbar-nav > li > a {
            padding: 14px 0px;
            margin: 0px;
            border-bottom: solid 1px #36283e;
            border-top: solid 1px #523e5a;
        }
        .navbar-inverse .navbar-nav > li > a:hover {
            background-color: rgba(41, 32, 47, 0.8);
        }
    }

    @media all and (max-width: 540px) {
        header {
            height: 650px;
        }

        .nav_bar_content {
            margin-top: 50px;
        }
        .slider_wrapp {
            height: 350px;
            margin-top: 40px;
        }
        .col-1 {
            width: 100%;
        }

        .main_wrapp {
            height: 250px;
        }
        .main_text {
            height: 215px;
        }

        .col_1__h1 {
            margin-top: 30px;
            font-size: 40px;
        }
        .col_1__p1 {
            margin-top: 10px;
            font-size: 20px;
        }
        .col_1__p2 {
            font-size: 15px;
        }
        .nav > li {
            max-width: inherit;
            text-align: center;
        }
        .nav_bar_conteiner {
            float: none;
        }

        nav {
            display: none;
        }
        .footer_nav_link {
            font-size: 18px;
            margin: 0px 10px 0px;
            padding: 5px 5px 5px;
        }
        footer {
            height: 60px;
        }
        .smal_nav {
            font-size: 14px;
            color: white;
            text-align: center;
            display: block;
            height: 60px;
            line-height: 60px;
        }
        .nav_bar_conteiner {
            width: 300px;

        }
    }

    @media all and (max-width: 320px) {
        header {
            height: 450px;
        }
        .slider_wrapp {
            height: 200px;
        }
        .nav_bar_content {
            margin-top: 50px;
        }
        .slider_wrapp {
            margin-top: 40px;
        }
        .col-1 {
            width: 100%;
        }

        .main_wrapp {
            height: 250px;
        }
        .main_text {
            height: 215px;
        }

        .col_1__h1 {
            margin-top: 30px;
            font-size: 40px;
        }
        .col_1__p1 {
            margin-top: 10px;
            font-size: 20px;
        }
        .col_1__p2 {
            display: none;
        }

        .header_slide {
            height: 250px;
        }
        .nav > li {
            width: 300px;
            text-align: center;
        }
        .nav_bar_conteiner {
            float: none;
        }
        .smal_nav {
            height: 60px;
            line-height: 60px;
            font-size: 14px;
            color: white;
            text-align: center;
            display: block;
        }
        footer {
            height: 60px;
        }
        .nav_bar_conteiner {
            width: 280px;
        }
    }
